body {
    font-family: $police-text;
}

h1, h2, h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        color: unset; 
    }
}

ul {
    list-style: none;
}