/* 
#9785f2
#b5a9f3
#d3cef2
#d7337a
*/

$police-text: "Questrial", Verdana, Geneva, Tahoma, sans-serif;

$color-primary: #6f55f2;
$color-heading: #132742;

$bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
);
